@model Autocentre.Models.Request

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Request</h4>
    <hr />
	<dl class="dl-horizontal">
		<dt>
			@Html.DisplayNameFor(model => model.Client.FIO)
		</dt>

		<dd>
			@Html.DisplayFor(model => model.Client.FIO)
		</dd>

		<dt>
			@Html.DisplayNameFor(model => model.Car.Mk)
		</dt>

		<dd>
			@Html.DisplayFor(model => model.Car.Mk)
		</dd>

		<dt>
			@Html.DisplayNameFor(model => model.Car.Model)
		</dt>

		<dd>
			@Html.DisplayFor(model => model.Car.Model)
		</dd>

		<dt>
			@Html.DisplayNameFor(model => model.Total_Cost)
		</dt>

		<dd>
			@Html.DisplayFor(model => model.Total_Cost)
		</dd>

		<dt>
			@Html.DisplayNameFor(model => model.Notes)
		</dt>

		<dd>
			@Html.DisplayFor(model => model.Notes)
		</dd>


	</dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.RequestId }) |
    @Html.ActionLink("Back to List", "Index")
</p>
